@font-face {
    font-family: 'iconfont';
    /* project id 2371248 */
    src: url('//at.alicdn.com/t/font_2371248_bn1kg1dabug.eot');
    src: url('//at.alicdn.com/t/font_2371248_bn1kg1dabug.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_2371248_bn1kg1dabug.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_2371248_bn1kg1dabug.woff') format('woff'),
        url('//at.alicdn.com/t/font_2371248_bn1kg1dabug.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_2371248_bn1kg1dabug.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}