.swiper-slide1{
    position: relative;

    .chatBlock-header{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100&;
    }
}
.swiper-slide3{
    background: #de0400;
}
